@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes bounce-horizont {
    0% {
        -webkit-transform: translateX(2000px);
                transform: translateX(2000px);
    }

    70% {
        -webkit-transform: translateX(-30px);
                transform: translateX(-30px);
    }

    90% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes bounce-horizont {
    0% {
        -webkit-transform: translateX(2000px);
                transform: translateX(2000px);
    }

    70% {
        -webkit-transform: translateX(-30px);
                transform: translateX(-30px);
    }

    90% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}


@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    min-width: 1200px;
    padding: 0;
    margin: 0;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0.01em;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-header {
    padding-top: 40px;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-header-wrapper {
    position: relative;

    min-height: 313px;
    padding: 45px 60px 35px;

    color: #000000;

    background-color: #f7e296;
}

.inner-page .main-header-wrapper {
    min-height: 186px;
}

.inner-page .main-header {
    margin-bottom: 43px;
}

.main-header-wrapper a {
    color: #000000;
}

.main-header-logo[href]:hover .main-header-logo-image,
.main-header-logo[href]:focus .main-header-logo-image {
    opacity: 0.6;
}

.main-header-logo[href]:active .main-header-logo-image {
    opacity: 0.3;
}

.main-header-logo {
    position: absolute;
    top: -23px;
    left: 60px;

    display: block;
    width: 164px;
    height: 36px;
}

.user-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
}

.user-tools-item:not(:last-child) {
    margin-right: 20px;
}

.user-tools .user-tools-box {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 440px;
    margin-right: 100px;
}

.user-tools-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user-tools-search {
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.01em;

    background-color: transparent;
    border: none;
}

.user-tools-form label {
    position: relative;
}

.user-tools-form label::before {
    content: "";

    position: absolute;
    left: -345px;
    top: 19px;

    width: 16px;
    height: 16px;

    background-image: url("../images/search.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.user-tools-form label::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    width: 350px;
    height: 2px;

    opacity: 0;
    background-color: #000000;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.user-tools-search:hover {
    color: rgba(0, 0, 0, 0.6);
}

.user-tools-search:focus,
.user-tools-search:active {
    color: rgb(0, 0, 0);

    outline: none;
}

.user-tools-search:focus + label::after,
.user-tools-search:active + label::after {
    opacity: 1;
}

.user-tools-submit {
    padding: 7px 20px;
    border: 2px solid #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 35px;
    font-weight: normal;
    letter-spacing: 0.01em;

    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.user-tools-search:focus ~ .user-tools-submit,
.user-tools-search:active ~ .user-tools-submit {
    visibility: visible;
    opacity: 1;
}

.user-tools-submit:hover,
.user-tools-submit:focus {
    color: #ffffff;

    background-color: #000000;
}

.user-tools-submit:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #000000;
}

.user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 260px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.name-link {
    position: relative;

    width: 160px;
    margin-right: 20px;
    padding-left: 25px;

    text-align: right;
}

.name-link::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 13px;
    height: 12px;
    margin-top: -5px;

    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.name-link:hover::before,
.name-link:focus::before {
    opacity: 0.6;
}

.name-link:active::before {
    opacity: 0.3;
}

.login-link {
    position: relative;

    padding-left: 25px;
}

.login-link::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 13px;
    height: 12px;
    margin-top: -6px;

    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before {
    opacity: 0.6;
}

.login-link:active::before {
    opacity: 0.3;
}

.user-tools-compare {
    position: relative;

    width: 100px;
    padding-left: 23px;
}

.user-tools-compare::before {
    content: "";

    position: absolute;
    left: 2px;
    top: 50%;

    width: 10px;
    height: 10px;
    margin-top: -5px;

    background-image: url("../images/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-tools-compare:hover::before,
.user-tools-compare:focus::before {
    opacity: 0.6;
}

.user-tools-compare:active::before {
    opacity: 0.3;
}

.user-tools-cart {
    position: relative;

    width: 100px;
    padding-left: 35px;

    text-align: right;
}

.user-tools-cart::before {
    content: "";

    position: absolute;
    left: 14px;
    top: 50%;

    width: 12px;
    height: 12px;
    margin-top: -6px;

    background-image: url("../images/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-tools-cart:hover::before,
.user-tools-cart:focus::before {
    opacity: 0.6;
}

.user-tools-cart:active::before {
    opacity: 0.3;
}

.user-menu-name {
    display: none;
}

.user-menu-logout {
    display: none;
}

.inner-page .user-menu-name,
.inner-page .user-menu-logout{
    display: block;
}

.inner-page .user-menu-login {
    display: none;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    list-style: none;
}

.site-navigation__item {
    width: 140px;
}

.site-navigation__current-item {
    opacity: 0.5;
    pointer-events: none;
}

.site-navigation__catalog {
    position: relative;

    width: 300px;
    margin-right: 240px;
}

.site-navigation__catalog .site-navigation__main-link {
    position: relative;

    display: inline-block;
    width: 250px;

    vertical-align: baseline;
}

.site-navigation__catalog .site-navigation__main-link::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 0;

    width: 16px;
    height: 2px;
    margin-top: -1px;

    background-color: #b8a974;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
}

.site-navigation__catalog .site-navigation__main-link::before {
    content: "";

    position: absolute;
    top: 4px;
    right: 7px;

    width: 2px;
    height: 16px;

    background-color: #b8a974;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
}

.site-navigation__catalog .site-navigation__main-link:hover::after,
.site-navigation__catalog .site-navigation__main-link:focus::after,
.site-navigation__catalog .site-navigation__main-link:hover::before,
.site-navigation__catalog .site-navigation__main-link:focus::before {
    opacity: 0.6;
}

.site-navigation__catalog .site-navigation__main-link:active::after,
.site-navigation__catalog .site-navigation__main-link:active::before {
    opacity: 0.3;
}

.site-navigation__delivery {
    margin-right: 20px;
}

.site-navigation__warranty {
    margin-right: auto;
}

.site-navigation__contacts {
    text-align: right;
}

.site-navigation__catalog-list {
    position: absolute;
    z-index: 100;
    left: -60px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    width: 1160px;
    padding: 20px 60px 33px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0.01em;
    text-transform: none;

    background-color: #f7e296;
    visibility: hidden;
}

.site-navigation__catalog-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin: 0;
    padding: 0;
    width: 160px;
    margin-right: 40px;
}

.site-navigation__catalog-box:first-child {
    width: 200px;
}

.site-navigation__catalog-list:hover,
.site-navigation__catalog a:hover + .site-navigation__catalog-list {
    visibility: visible;
}

.popular-items {
    position: relative;
    top: -65px;
}

.popular-items .container {
    position: relative;

    min-height: 490px;
}

.popular-item:first-child {
    display: none;
}

.popular-item:nth-child(2) {
    display: none;
}

.popular-item:nth-child(3) {
    display: block;
}

.popular-item-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1040px;
    margin: 0 auto;
}

.popular-items-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-item-selfie {
    width: 384px;
    height: 486px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
}

.popular-item-fitness-bracelet {
    width: 345px;
    height: 485px;
    margin: 0;
    margin-left: 56px;
    padding: 0;
}

.popular-item-quadrocopter {
    width: 526px;
    height: 334px;
    margin: 0;
    margin-top: 57px;
    margin-left: -30px;
    padding: 0;
}

.popular-item-details {
    position: relative;
    width: 500px;
    padding-top: 72px;
}

.popular-item-details::before {
    content: "";

    position: absolute;
    top: 22px;
    left: 0;

    width: 100px;
    height: 7px;

    background-color: #ffffff;
}

.popular-item-number {
    position: absolute;
    z-index: 10;
    top: -60px;
    right: -15px;

    font-size: 179px;
    line-height: 179px;
    color: #ffffff;
}

.number-two {
    right: -12px;
}

.number-three {
    right: -10px;
}

.popular-item-slogan {
    position: relative;
    z-index: 10;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 47px;
    line-height: 56px;
}

.popular-item-promo {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
}

.button {
    position: relative;

    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    vertical-align: baseline;
}

.button::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;

    width: 100%;
    height: 8px;
    margin-top: -4px;

    background-color: #f0c52e;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
}

.more-details {
    margin-bottom: 50px;
    padding-left: 44px;
    padding-right: 43px;
}

.more-details-us {
    padding-left: 23px;
    padding-right: 23px;
}

.write-us {
    padding-left: 41px;
    padding-right: 41px;
}

.services-button {
    width: 160px;

    text-align: center;
}

.more-details-content,
.services-button-content,
.more-details-us-content,
.write-us-content {
    position: relative;
    z-index: 100;
}

.button:hover::before,
.button:focus::before {
    top: 0;
    margin-top: 0;

    height: 100%;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.popular-item-characteristics-list .value{
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: normal;
}

.selfie-characteristics td:not(:last-child) {
    padding-right: 80px;
}

.quadrocopter-characteristics td:not(:last-child) {
    padding-right: 50px;
}

.popular-item-characteristics-list .properties{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
}

.slides-switches {
    position: absolute;
    bottom: 145px;
    right: 100px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100px;

    margin: 0;
    padding: 0;

    list-style: none;
}


.slide-radio {
    margin: 0;
    margin-right: 21px;
    padding: 0;
}

.slide-radio:last-of-type {
    margin-right: 0;
}

.slide-button {
    position: relative;

    display: block;

    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;

    border: 2px solid black;
    border-radius: 50%;

    background-color: transparent;
}

.slide-radio .active::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    border: 2px solid black;
    border-radius: 50%;

    background-color: transparent;
}

.catalog {
    margin-bottom: 25px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item a {
    position: relative;

    display: inline-block;
    width: 160px;

    color: #000000;
    vertical-align: baseline;
}

.catalog-item a::before {
    content: "";
    display: block;

    width: 160px;
    height: 160px;
    margin-bottom: 35px;

    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-item a:hover::before,
.catalog-item a:focus::before {
    background-color: #f0c52e;
}

.catalog-item a::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    display: block;

    width: 160px;
    height: 160px;
    margin-bottom: 35px;

    background-repeat: no-repeat;
    background-position: center;
}

.virtual-reality::after {
    background-image: url("../images/popular-1.svg");
}

.catalog-item .monopod::after {
    background-image: url("../images/popular-2.svg");
    background-position: 50% 40px;
}

.action-camera::after {
    background-image: url("../images/popular-3.svg");
}

.fitness-bracelet::after {
    background-image: url("../images/popular-4.svg");
}

.smart-watch::after {
    background-image: url("../images/popular-5.svg");
}

.quadrocopter::after {
    background-image: url("../images/popular-6.svg");
}

.catalog-item a:active::after {
    opacity: 0.3;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.services {
    min-height: 450px;
    margin-bottom: 95px;

    background-color: #e5e5e5;
    -webkit-box-shadow: 0 160px 0 0 #fff inset;
            box-shadow: 0 160px 0 0 #fff inset;
}

.services-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 69px;
}

.services-list {
    width: 285px;
    min-height: 320px;
    margin: 0;
    margin-right: 120px;
    padding: 0;
    padding-top: 80px;
    border-right: 7px solid #000000;

    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    list-style: none;
}

.service-item {
    margin-bottom: 23px;
}

.service-item-current {
    background-color: #000000;
    color: #f7e184;
}

.service-item-current a {
    color: #f7e184;
    cursor: text;
}

.service-item-current a::before {
    display: none;
}

.services-box {
    width: 700px;
    padding-top: 70px;
}

.service-point {
    position: relative;

    display: none;
}

.service-point-delivery::after {
    content: "";

    position: absolute;
    top: 10px;
    right: 0;

    display: block;
    width: 136px;
    height: 164px;

    background-image: url("../images/delivery.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.service-point-warranty::after {
    content: "";

    position: absolute;
    top: -15px;
    right: -15px;

    display: block;
    width: 171px;
    height: 195px;

    background-image: url("../images/warranty.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.service-point-credit::after {
    content: "";

    position: absolute;
    top: -10px;
    right: 0;

    display: block;
    width: 156px;
    height: 188px;

    background-image: url("../images/credit.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.service-point h3 {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
    font-weight: normal;
}

.service-point p {
    width: 450px;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: #464646;
}

.description-active {
    display: block;
}

.companies-logos-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-bottom: 95px;
    padding: 0;

    list-style: none;
}

.companie-logo-item {
    width: 260px;
    height: 100px;
}

.companie-logo-item .image {
    -webkit-filter:  grayscale(1) opacity(0.2);
            filter:  grayscale(1) opacity(0.2);
}

.companie-logo-item a:hover .image {
    -webkit-filter: none;
            filter: none;
}

.index-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 656px;
}

.index-column {
    position: relative;

    width: 560px;
}

.index-column::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: #000000;
}

.index-column__title {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 52px;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
}


.index-column__text {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
}

.about-us__text:first-of-type {
    margin-bottom: 33px;
}

.about-us__text:nth-of-type(2) {
    margin-bottom: 55px;
}

.index-column__image-box {
    display: block;
    width: 560px;
    height: 222px;

    margin: 0;
    margin-bottom: 80px;
    padding: 0;
}

.about-us__transport-companies-list {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;

    list-style: none;
}

.about-us__transport-companie-item {
    position: relative;

    margin-bottom: 20px;
    padding-left: 35px;
}

.about-us__transport-companie-item:last-child {
    margin-bottom: 0px;
}

.about-us__transport-companie-item::before {
    position: absolute;
    left: 0;
    top: 50%;

    content: "";

    width: 8px;
    height: 8px;
    margin-top: -4px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.main-footer {
    min-height: 323px;
    padding-top: 60px;
    padding-bottom: 62px;

    background-color: #464646;
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-logo {
    display: block;
    width: 163px;
    height: 36px;
}

.footer-logo[href]:hover .footer-logo-image,
.footer-logo[href]:focus .footer-logo-image {
    opacity: 0.6;
}

.footer-logo[href]:active .footer-logo-image {
    opacity: 0.3;
}

.footer-user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: #ffffff;

    list-style: none;
}

.footer-user-menu a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
    color: #ffffff;
}

.footer-user-menu a:hover::before,
.footer-user-menu a:focus::before {
    opacity: 0.6;
}

.footer-user-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-user-menu a:active::before {
    opacity: 0.3;
}

.footer-user-menu a[href="login.html"] {
    position: relative;

    display: inline-block;
    width: 110px;
    padding-left: 30px;

    vertical-align: baseline;
}

.footer-user-menu a[href="login.html"]::before {
    content: "";

    position: absolute;
    left: 3px;
    top: 50%;

    width: 13px;
    height: 12px;
    margin-top: -6px;

    background-image: url("../images/footer-user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-user-menu a[href="profile.html"] {
    position: relative;

    display: inline-block;
    width: 160px;
    margin-right: 15px;
    padding-left: 27px;

    vertical-align: baseline;
}

.footer-user-menu a[href="profile.html"]::before {
    content: "";

    position: absolute;
    left: 3px;
    top: 50%;

    width: 13px;
    height: 12px;
    margin-top: -6px;

    background-image: url("../images/footer-user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-user-menu a[href="logout.html"] {
    display: inline-block;
    width: 60px;
    margin-right: 40px;

    vertical-align: baseline;
    color: rgba(255, 255, 255, 0.3);
}

.footer-user-menu a[href="compare.html"] {
    position: relative;

    display: inline-block;
    width: 120px;
    padding-left: 26px;

    vertical-align: baseline;
}

.footer-user-menu a[href="compare.html"]::before {
    content: "";

    position: absolute;
    left: 4px;
    top: 50%;

    width: 10px;
    height: 10px;
    margin-top: -5px;

    background-image: url("../images/footer-compare.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-user-menu a[href="cart.html"] {
    position: relative;

    display: inline-block;
    width: 100px;
    padding-left: 35px;

    text-align: right;
    vertical-align: baseline;
}

.footer-user-menu a[href="cart.html"]::before {
    content: "";

    position: absolute;
    left: 11px;
    top: 50%;

    width: 12px;
    height: 12px;
    margin-top: -6px;

    background-image: url("../images/footer-cart.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    margin-bottom: 45px;
}

.footer-address {
    margin: 0;
    margin-right: 155px;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: none;
    color: #ffffff;
}

.footer-site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 440px;
    margin: 0;
    padding: 0;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    list-style: none;
}

.footer-site-menu a {
    color: #ffffff;
}

.footer-site-menu a:hover,
.footer-site-menu a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-site-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}

.phone {
    margin: 0;
    margin-left: auto;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: none;
    color: #ffffff;
}

.phone span {
    color: #ffffff;
}

.footer-bottom {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-bottom::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 80px;
    height: 7px;
    margin-top: -3.5px;

    background-color: #ffc600;
}

.social-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 143px;
    margin: 0;
    margin-left: auto;
    padding: 0;

    list-style: none;
}

.social-buttons a {
    display: inline-block;
    width: 32px;
    height: 32px;

    color: #ffffff;
    vertical-align: middle;

    opacity: 0.3;
    border-radius: 50%;
}

.social-button-facebook {
    background-image: url(../images/fb.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.social-button-instagram {
    background-image: url(../images/ig.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.social-button-twitter {
    background-image: url(../images/tw.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.social-buttons a:hover,
.social-buttons a:focus {
    opacity: 0.6;
}

.social-buttons a:active {
    opacity: 0.1;
}

.copyright {
    margin: 0;
    margin-left: 470px;
    padding: 0;
}

.copyright path {
    fill: #ffc600;
}

.copyright a:hover path,
.copyright a:focus path {
    opacity: 0.6;
}

.copyright a:active path {
    opacity: 0.3;
}

.modal {
    position: fixed;
    z-index: 10000;

    background-color: #ffffff;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-write-us {
    top: 50px;
    left: 50%;

    display: none;
    width: 960px;
    padding: 95px 100px 70px;
    margin-left: -480px;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;

    background-color: rgba(247, 226, 150, 0.5);
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    background-color: rgb(247, 226, 150);
    outline: none;
}

.modal-close:active {
    background-color: rgba(247, 226, 150, 0.3);
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 26px;
    left: 15px;

    width: 25px;
    height: 2px;

    background-color: #ffffff;

}

.modal-close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-write-us-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 35px;
}

.modal-write-us-box .write-us-item {
    width: 360px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
    width: 100%;
    padding: 16px 19px 19px;
    border: none;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: none;
    color: #000000;

    background-color: #f2f2f2;
}
.write-us-form input[type="text"]:hover,
.write-us-form input[type="email"]:hover,
.write-us-form textarea:hover {
    background-color: #eaeaea;
    outline: none;
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus,
.write-us-form textarea:focus {
    border: 3px solid #f0c52e;

    background-color: #ffffff;
}

.text {
    min-height: 155px;
}

.write-us-item {
    margin: 0;
    padding: 0;
}

.write-us-item-textarea {
    margin-bottom: 45px;
}

.write-us-form label {
    display: block;
    margin-bottom: 10px;
}

.submit {
    width: 200px;
    border: none;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-weight: normal;
    background-color: transparent;
    text-align: center;
}

.submit span {
    position: relative;
    z-index: 100;
}

.modal-login {
    top: 100px;
    left: 50%;

    display: none;
    width: 550px;
    padding: 50px 80px;
    margin-left: -275px;
}

.login-form p:not(:last-of-type) label {
    display: block;
    margin-bottom: 10px;
}

.login-user,
.login-password {
    width: 100%;
    padding: 12px 19px;
    border: none;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: none;
    color: #000000;

    background-color: #f2f2f2;
}

.login-password-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
}

.login-checkbox {
    position: relative;

    padding-left: 35px;

    cursor: pointer;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0px;
    left: 0;

    width: 22px;
    height: 22px;

    border: 2px solid #000000;
    border-radius: 50%;

    -webkit-transition-duration: 0.1s;

         -o-transition-duration: 0.1s;

            transition-duration: 0.1s;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #f0c52e;

    outline: none;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    border: 6px solid #f0c52e;
    background-color: #000000;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: rgba(0, 0, 0, 0.6)
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

.log-in {
    width: 150px;
}

.modal-map {
    top: 50%;
    left: 50%;

    display: none;
    width: 960px;
    height: 559px;
    margin-left: -480px;
    margin-top: -280px;
}

.modal-map iframe {
    position: relative;
    z-index: 2;
}

.modal-map-close {
    z-index: 3;
}

.modal-map-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 960px;
    height: 559px;
    margin: 0;
    padding: 0;
}

.modal-show {
    display: block;

    -webkit-animation: bounce 0.6s;

            animation: bounce 0.6s;
}

.modal-show-map {
    display: block;

    -webkit-animation: bounce-horizont 0.6s;

            animation: bounce-horizont 0.6s;
}

.overlay-show {
    display: block;

    -webkit-animation: opacity 0.5s;

            animation: opacity 0.5s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 20px;
}

.page-title {
    margin: 0;
    margin-bottom: 33px;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);

    list-style: none;
}

.breadcrumbs li:first-child {
    position: relative;

    width: 72px;
    margin-right: 17px;
}

.breadcrumbs li:nth-child(2) {
    position: relative;

    width: 134px;
    margin-right: 17px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";

    position: absolute;
    right: -2px;
    top: 50%;

    width: 6px;
    height: 6px;
    margin-top: -2px;
    border: 2px solid #0b0b0b;
    border-left: none;
    border-bottom: none;

    -webkit-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

            transform: rotate(45deg);
}

.breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.catalog-columns {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    width: 1200px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 20px;
}

.filters {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 270px;

background-color: #efefef;
}

.filters::before {
    content: "";

    position: absolute;
    z-index: 0;
    left: 0;
    right: 850px;
    top: 0;
    bottom: 0;

    margin-left: calc(50% - 50vw);

    background-color: #eeeeee;
}

.filters-title {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    min-height: 70px;
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    padding-top: 23px;

    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    background-color: #dbdbdb;
}

.filters-title span {
    position: relative;
    z-index: 10;
}

.filters-title::before {
    content: "";

    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin-left: calc(50% - 50vw);

    background-color: #dcdcdc;
}

.filter {
    width: 200px;
}

.filter-price {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    border: none;
}

.filter-price legend {
    position: relative;

    margin-bottom: 30px;

    font-size: 18px;
    line-height: 24px;

}

.filter-price legend::before {
    content: "";

    position: absolute;
    top: -15px;
    left: 0;

    width: 200px;
    height: 2px;

    background-color: #000000;
}

.range-controls {
    position: relative;

    margin-bottom: 10px;
}

.range-controls .scale {
    height: 2px;

    background-color: #dbdbdb;
}

.range-controls .bar {
    width: 120px;
    height: 2px;

    background-color: #91c92f;
}

.range-controls .toggle {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;

    position: absolute;
    top: -9px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    border-radius: 50%;

    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px #cfcfcf;
            box-shadow: 0 2px 1px #cfcfcf;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.range-controls .toggle:active {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.range-controls .toggle-min {
    left: -5px;
}

.range-controls .toggle-max {
    left: 120px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 49%;

    font-family: "gilroylight", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
    width: 50px;
    margin-left: 5px;
    padding: 0px;
    border: none;
    background-color: transparent;

    font-family: "gilroylight", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.2);
}

.filter-color {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    border: none;
}

.filter-color legend {
    position: relative;

    margin-bottom: 25px;

    font-size: 18px;
    line-height: 24px;
}

.filter-color legend::before {
    content: "";

    position: absolute;
    top: -15px;
    left: 0;

    width: 200px;
    height: 2px;

    background-color: #000000;
}

.filter-color ul {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;

    list-style: none;
}

.filter-option {
    min-height: 25px;
    margin-bottom: 17px;
    padding-left: 40px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox + label::before{
    content: "";

    position: absolute;
    top: -1px;
    left: -40px;

    width: 23px;
    height: 23px;

    border: 2px solid #000000;
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: -1px;
    left: -40px;

    width: 27px;
    height: 23px;

    background-image: url("../images/checkbox-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filter-option label:hover,
.filter-option label:focus {
    opacity: 0.6;
}

.filter-option label:active {
    opacity: 1;
}

.filter-input-checkbox:checked + label::before {
    display: none;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after {
    opacity: 0.25;
}

.filter-bluetooth {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

    border: none;
}

.filter-bluetooth legend {
    position: relative;

    margin-bottom: 25px;

    font-size: 18px;
    line-height: 24px;
}

.filter-bluetooth legend::before {
    content: "";

    position: absolute;
    top: -15px;
    left: 0;

    width: 200px;
    height: 2px;

    background-color: #000000;
}

.filter-bluetooth ul {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;

    list-style: none;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: -40px;
    top: -2px;

    width: 25px;
    height: 25px;
    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    left: -32px;
    top: 5px;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: #000000;
}

.filter-button {
    width: 100%;
    border: none;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;

    background-color: transparent;
}

.filter-button span {
    position: relative;
    z-index: 100;
}

.sort-catalog-wrapper {
    width: 830px;
    padding-left: 70px;

    background-color: #ffffff;
}

.sort {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    min-height: 70px;
    margin-bottom: 70px;
    padding-top: 23px;
}

.sort::before {
    content: "";

    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: -70px;
    right: 0;

    margin-right: calc(600px - 50vw);

    background-color: rgba(0, 0, 0, 0.08);
}

.sort-title {
    position: relative;
    z-index: 10;

    margin: 0;
    margin-right: 53px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


.sort-list {
    position: relative;
    z-index: 10;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-list a {
    display: inline-block;
    margin-right: 35px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);
}

.sort-list li:nth-child(4) {
    margin-left: auto;
}

.sort-list .sort-by-ascending {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: 10px;
    border: 9px solid #000000;
    border-left-width: 5px;
    border-right-width: 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
}

.sort-list .sort-by-descending {
    width: 0;
    height: 0;
    margin-right: 0;
    border: 9px solid #c3c2c2;
    border-left-width: 5px;
    border-right-width: 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
}

.sort-list .current-sort-type {
    color: #000000;
}

.sort-list a:hover,
.sort-list a:focus {
    color: rgba(0, 0, 0, 0.4);
}

.sort-list a:active {
    color: #000000;
}

.sort-by-ascending:hover,
.sort-by-ascending:focus {
    border-bottom-color: rgba(0, 0, 0, 0.4);
}

.sort-by-ascending:active {
    border-bottom-color: rgb(0, 0, 0);
}

.sort-by-descending:hover,
.sort-by-descending:focus {
    border-top-color: rgba(0, 0, 0, 0.4);
}

.sort-by-descending:active {
    border-top-color: rgb(0, 0, 0);
}

.monopods-catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.monopod-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 360px;
    min-height: 460px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.monopod-item:nth-of-type(2n) {
    margin-right: 0;
}

.monopod-item-image {
    position: relative;
}

.hover-box {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    height: 380px;
    margin: 0;
    padding: 0;

    background-color: rgba(238, 238, 238, 0.8);
}

.in-cart {
    width: 200px;
    margin-top: 170px;
    margin-bottom: 5px;
    border: none;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0.2em;
    text-align: center;

    background-color: transparent;
    cursor: pointer;
}

.in-cart span {
    position: relative;
    z-index: 100;
}

.add-compare {
    border: none;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);

    background-color: transparent;
    cursor: pointer;
}

.add-compare:hover,
.add-compare:focus {
    color: #000000;
    outline: none;
}

.add-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.image-box {
    position: relative;
    z-index: 10;

    width: 360px;
    height: 380px;
}

.image-box:hover + .hover-box,
.image-box:focus + .hover-box,
.hover-box:hover,
.hover-box:focus {
    z-index: 100;
}

.monopod-item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 48px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
    margin-top: auto;
    padding: 0;
}

.monopod-item-title-link {
    width: 260px;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

.monopod-item-title-link:hover,
.monopod-item-title-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.monopod-item-title-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.monopod-item-title {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
}

.monopod-item-price {
    margin-left: auto;

    font-family: "gilroylight", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #464646;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 70px;
    margin: 0;
    margin-bottom: 77px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    list-style: none;
    background-color: #ebebeb;
}

.pagination-item-prev a,
.pagination-item-next a {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;

    line-height: 70px;
    vertical-align: middle;
    color: #000000;
}

.pagination-item-prev a:hover,
.pagination-item-prev a:focus,
.pagination-item-next a:hover,
.pagination-item-next a:focus {
    background-color: #d9d9d9;
}

.pagination-item-prev a:active,
.pagination-item-next a:active {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a{
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover:not(.link-current),
.pagination-item a:focus:not(.link-current) {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active:not(.link-current) {
    color: #000000;
}

.pagination-item-current a{
    color: #000000;
}

.pagination-item:nth-of-type(2) {
    margin-left: 205px;
}

.pagination-item:nth-of-type(3) {
    margin-left:32px;
    margin-right:32px;
}

.pagination-item:nth-of-type(4) {
    margin-right:auto;
}
