@font-face {
    font-family: 'gilroyextrabold';
    src:
    url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src:
    url('../fonts/gilroy-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0.01em;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-header {
    padding-top: 40px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-navigation {
    min-height: 300px;
    padding: 45px 60px 35px;
    color: #000000;

    background-color: #f7e296;
}

.user-tools {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

.user-tools__box {
    flex-shrink: 0;
    width: 440px;
    margin-right: 100px;
}

.user-tools__link {
    width: 100px;
    margin-left: 20px;

    text-align: right;
}

.user-navigation {
    width: 100px;
    margin: 0;
    padding: 0;
    margin-right: auto;
}

.site-navigation {
    outline: 1px solid blue;
    display: flex;
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.site-navigation__catalog-list {
    display: none;

    line-height: 36px;
}

.site-navigation__wrapper {
    width: 440px;
    margin: 0;
    margin-right: 100px;
    padding: 0;
}

.site-navigation__item {
    width: 140px;
}

.site-navigation__delivery {
    margin-right: 20px;
}

.site-navigation__warranty {
    margin-right: 60px;
}

.site-navigation__contacts {
    text-align: right;
}

.user-navigation,
.site-navigation,
.site-navigation__catalog-list {
    list-style: none;
}

.user-tools__cart,
.user-tools__compare,
.user-navigation a,
.site-navigation a,
.site-navigation__catalog-list a,
.main-header-logo {
    color: #000000;
}

.user-tools__cart:hover,
.user-tools__cart:focus,
.user-tools__compare:hover,
.user-tools__compare:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation__catalog-list a:hover,
.site-navigation__catalog-list a:focus,
.main-header-logo[href="index.html"]:hover,
.main-header-logo[href="index.html"]:focus {
    color: rgba(0, 0, 0, 0.6);
}

.user-tools__cart:active,
.user-tools__compare:active,
.user-navigation a:active,
.site-navigation a:active,
.site-navigation__catalog-list a:active,
.main-header-logo[href="index.html"]:active {
    color: rgba(0, 0, 0, 0.3);
}
.user-tools__form input[type="seach"] {
    border: none;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0.01em;

    background-color: transparent;

    opacity: 0.3;
}

.user-tools__form input[type="seach"]:hover {
    opacity: 0.6;
}

.user-tools__form input[type="seach"]:focus,
.user-tools__form input[type="seach"]:active {
    border-bottom: 2px solid #000000;

    outline: none;

    opacity: 1;
}

.user-tools__button {
    display: none;

    padding: 15px 20px;
    border: 2px solid #000000;
    box-sizing: border-box;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    letter-spacing: 0.01em;

    background-color: transparent;
}

.user-tools__button:hover,
.user-tools__button:focus {
    color: #ffffff;

    background-color: #000000;
}

.user-tools__button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #000000;
}

.popular-items-list,
.slides-switches
/* .catalog-list,
.services-list,
.companies-logos-list,
.about-us__transport-companies-list*/ { 
    list-style: none;
}

.main-footer {
    background-color: #464646;
}
