@font-face {
    font-family: 'gilroyextrabold';
    src:
    url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src:
    url('../fonts/gilroy-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0.01em;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-header {
    padding-top: 40px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header-wrapper {
    position: relative;

    min-height: 300px;
    padding: 45px 60px 35px;

    color: #000000;

    background-color: #f7e296;
/* outline: 1px solid red; */
}

.inner-page .main-header-wrapper {
    min-height: 186px;
}

.inner-page .main-header {
    margin-bottom: 30px;
}

.main-header-wrapper a {
    color: #000000;
}

.main-header-wrapper a:not(.main-header-logo):hover,
.main-header-wrapper a:not(.main-header-logo):focus,
.main-header-logo[href="index.html"]:hover,
.main-header-logo[href="index.html"]:focus {
    color: rgba(0, 0, 0, 0.6);
}

.main-header-wrapper a:not(.main-header-logo):active,
.main-header-logo[href="index.html"]:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
    position: absolute;
    top: -23px;
    left: 60px;

    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.user-tools {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;

/* outline: 1px solid blue; */
}

.user-tools-item:not(:last-child) {
    margin-right: 20px;
}

.user-tools .user-tools-box {
    flex-shrink: 0;
    width: 440px;
    margin-right: 100px;

/* outline: 2px solid white; */
}

.user-menu {
    display: flex;
    width: 260px;
    margin: 0;
    padding: 0;

    list-style: none;

/* outline: 2px solid violet; */
}

.name-link {
    position: relative;

    width: 160px;
    margin-right: 20px;
    padding-left: 25px;

    text-align: right;
}

.name-link::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: 50%;

    width: 13px;
    height: 12px;
    margin-top: -5px;

    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.name-link:hover::before,
.name-link:focus::before {
    opacity: 0.6;
}

.name-link:active::before {
    opacity: 0.3;
}

.login-link {
    position: relative;

    padding-left: 25px;

/* outline: 2px solid rgb(5, 107, 240); */
}

.login-link::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: 50%;

    width: 13px;
    height: 12px;
    margin-top: -6px;

    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before {
    opacity: 0.6;
}

.login-link:active::before {
    opacity: 0.3;
}

.user-tools-compare {
    position: relative;

    width: 100px;
    padding-left: 23px;

/* outline: 2px solid darkgoldenrod; */
}

.user-tools-compare::before {
    content: "";
    
    position: absolute;
    left: 2px;
    top: 50%;

    width: 10px;
    height: 10px;
    margin-top: -5px;

    background-image: url("../images/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-tools-compare:hover::before,
.user-tools-compare:focus::before {
    opacity: 0.6;
}

.user-tools-compare:active::before {
    opacity: 0.3;
}

.user-tools-cart {
    position: relative;

    width: 100px;
    padding-left: 35px;

    text-align: right;

/* outline: 2px solid darksalmon;  */
}

.user-tools-cart::before {
    content: "";
    
    position: absolute;
    left: 14px;
    top: 50%;

    width: 12px;
    height: 12px;
    margin-top: -6px;

    background-image: url("../images/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-tools-cart:hover::before,
.user-tools-cart:focus::before {
    opacity: 0.6;
}

.user-tools-cart:active::before {
    opacity: 0.3;
}

.user-menu-name {
    display: none;
}

.user-menu-logout {
    display: none;
}

.inner-page .user-menu-name, 
.inner-page .user-menu-logout{
    display: block;
}

.inner-page .user-menu-login {
    display: none;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    list-style: none;

/* outline: 1px solid blue; */
}

.site-navigation__item {
    width: 140px;
}

.site-navigation__catalog {
    position: relative;

    width: 300px;
    margin-right: 240px;
}

.site-navigation__delivery {
    margin-right: 20px;
} 

.site-navigation__warranty {
    margin-right: auto;
}

.site-navigation__contacts {
    text-align: right;
}

.site-navigation__catalog-list {
    position: absolute;
    z-index: 100;
    left: -60px;
    
    display: flex;
    width: 1160px;
    padding: 20px 60px 33px;
    flex-wrap: wrap;
    
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0.01em;
    text-transform: none;

    background-color: #f7e296;
    visibility: hidden;
/* outline: 1px solid green; */
}

.site-navigation__catalog-box {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    width: 160px;
    margin-right: 40px;
    
/* outline: 1px solid violet; */
}

.site-navigation__catalog-box:first-child {
    width: 200px;
}

.site-navigation__catalog-list:hover, 
.site-navigation__catalog a:hover + .site-navigation__catalog-list {
    visibility: visible;
}

.popular-items {
    position: relative;
    top: -105px;
}


/* Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь        */

.popular-item:first-child {
    display: block;
}

.popular-item:nth-child(2) {
    display: none;
}

.popular-item:nth-child(3) {
    display: none;

}

/* Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь       Н А Д О      У Б Р А Т Ь        */



.popular-item-column {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    margin: 0 auto;
}

.popular-items-list {
    margin: 0;
    padding: 0; 
    list-style: none;
}

.popular-item-selfie {
    width: 384px;
    height: 486px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
}

.popular-item-fitness-bracelet {
    width: 345px;
    height: 485px;
    margin: 0;
    margin-left: 56px;
    padding: 0;
}

.popular-item-quadrocopter {
    width: 526px;
    height: 334px;
    margin: 0;
    margin-top: 57px;
    margin-left: -30px;
    padding: 0;
}

.popular-item-details {
    position: relative;
    width: 500px;
    padding-top: 72px;
}

.popular-item-details::before {
    content: "";

    position: absolute;
    top: 35px;
    left: 0;

    width: 100px;
    height: 7px;
    
    background-color: #ffffff;
}

.popular-item-number {
    position: absolute;
    z-index: 10;
    top: -20px;
    right: -15px;

    font-size: 179px;
    line-height: 179px;
    color: #ffffff;
}

.number-two {
    right: -12px;
}

.number-three {
    right: -10px;
}

.popular-item-slogan {
    position: relative;
    z-index: 10;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 47px;
    line-height: 56px;
}

.popular-item-promo {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
}

.button {
    position: relative;

    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.button::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;

    width: 100%;
    height: 8px;
    margin-top: -4px;

    background-color: #f0c52e;
    transition-duration: 200ms;
}

.more-details {
    margin-bottom: 50px;
    padding-left: 44px;
    padding-right: 43px;
}

.more-details-us {
    padding-left: 23px;
    padding-right: 23px;
}

.write-us {
    padding-left: 41px;
    padding-right: 41px;
}

.more-details-content,
.more-details-us-content,
.write-us-content {
    position: relative;
    z-index: 100;
}

.button:hover::before,
.button:focus::before {
    top: 0;
    margin-top: 0;

    height: 100%;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.popular-item-characteristics-list .value{
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: normal;
}

.selfie-characteristics td:not(:last-child) {
    padding-right: 80px;
}

.quadrocopter-characteristics td:not(:last-child) {
    padding-right: 50px;
}

.popular-item-characteristics-list .properties{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
}

.slides-switches {
    display: flex;

    margin: 0;
    padding: 0; 

    list-style: none;
}

.catalog {
    margin-bottom: 25px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0; 

    list-style: none;
}

.catalog-item a {
    position: relative;

    display: inline-block;
    width: 160px;
    
    color: #000000;
}

.catalog-item a::before {
    content: "";
    display: block;

    width: 160px;
    height: 160px;
    margin-bottom: 35px;

    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-item a:hover::before,
.catalog-item a:focus::before {
    background-color: #f0c52e;
}

.catalog-item a::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    display: block;

    width: 160px;
    height: 160px;
    margin-bottom: 35px;

    background-repeat: no-repeat;
    background-position: center;
}

.virtual-reality::after {
    background-image: url("../images/popular-1.svg");
}

.catalog-item .monopod::after {
    background-image: url("../images/popular-2.svg");
    background-position: 50% 40px;
}

.action-camera::after {
    background-image: url("../images/popular-3.svg");
}

.fitness-bracelet::after {
    background-image: url("../images/popular-4.svg");
}

.smart-watch::after {
    background-image: url("../images/popular-5.svg");
}

.quadrocopter::after {
    background-image: url("../images/popular-6.svg");
}

.catalog-item a:active::after {
    opacity: 0.3;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.services {
    min-height: 450px;
    margin-bottom: 95px;

    background-color: #e5e5e5;
    box-shadow: 0 160px 0 0 #fff inset;
}

.services-column {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 69px;

outline: 2px solid black;
}

.services-list {
    width: 285px;
    min-height: 320px;
    margin: 0;
    margin-right: 120px;
    padding: 0;
    padding-top: 80px;
    border-right: 7px solid #000000;

    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    list-style: none;

outline: 2px solid violet;
}

.services-box {
    width: 700px;
    padding-top: 70px;
outline: 2px solid red;
}

.service {
outline: 2px solid green;
}

.service h3 {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
    font-weight: normal;

outline: 2px solid rgb(179, 11, 230);
}

.service p {
    width: 450px;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;

outline: 2px solid yellow;
}

/* sdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdf */

/* sdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdf */

/* sdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdf */
.warranty {
    display: none;
}

.credit {
    display: none;
}

.delivery {
    display: block;
}

/* sdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdf */

/* sdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdf */

/* sdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdfsdadasdafasdfasdfsdf */

.companies-logos-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 95px;
    padding: 0;

    list-style: none;
}

.companie-logo-item {
    width: 260px;
    height: 100px;
}

.companie-logo-item .image {
    filter:  grayscale(1) opacity(0.2);
}

.companie-logo-item a:hover .image {
    filter: none;
}

.index-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 656px;
}

.index-column {
    position: relative;

    width: 560px;
}

.index-column::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: #000000;
}

.index-column__title {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 52px;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
}


.index-column__text {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
}

.about-us__text:first-of-type {
    margin-bottom: 33px;
}

.about-us__text:nth-of-type(2) {
    margin-bottom: 55px;
}

.index-column__image-box {
    width: 560px;
    height: 222px;

    margin: 0;
    margin-bottom: 80px;
    padding: 0;
}

.about-us__transport-companies-list {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;

    list-style: none;
}

.about-us__transport-companie-item {
    position: relative;

    margin-bottom: 20px;
    padding-left: 35px;
}

.about-us__transport-companie-item:last-child {
    margin-bottom: 0px;
}

.about-us__transport-companie-item::before {
    position: absolute;
    left: 0;
    top: 50%;

    content: "";

    width: 8px;
    height: 8px;
    margin-top: -4px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.main-footer {
    min-height: 323px;
    padding-top: 60px;
    padding-bottom: 62px;

    background-color: #464646;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
outline: 2px solid red;
}

.footer-logo {
    font-size: 48px;
    line-height: 58px;
    font-weight: normal;
    color: #ffc600;
    text-transform: uppercase;
}

.footer-logo:hover,
.footer-logo:focus {
    color: rgba(255, 198, 0, 0.6)
}

.footer-logo:active {
    color: rgba(255, 198, 0, 0.3)
}

.footer-user-menu {
    display: flex;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: #ffffff;

    list-style: none;
}

.footer-user-menu a {
    color: #ffffff;
}

.footer-user-menu a[href="login.html"] {
    display: inline-block;
    width: 110px;
    padding-left: 30px;

outline: 2px solid green;
}

.footer-user-menu a[href="profile.html"] {
    display: inline-block;
    width: 180px;
    padding-left: 27px;

outline: 2px solid green;
}

.footer-user-menu a[href="logout.html"] {
    display: inline-block;
    width: 60px;
    margin-right: 20px;

outline: 2px solid rgb(9, 217, 224);
}

.footer-user-menu a[href="compare.html"] {
    display: inline-block;
    width: 120px;
    padding-left: 26px;

outline: 2px solid green;
}

.footer-user-menu a[href="cart.html"] {
    display: inline-block;
    width: 100px;
    padding-left: 35px;

    text-align: right;

outline: 2px solid green;
}


.footer-middle {
    display: flex;
    align-items: center;
    min-height: 117px;
outline: 2px solid blue;
}

.footer-address {
    margin: 0;
    margin-right: 155px;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: none;
    color: #ffffff;

outline: 2px solid yellow;
}

.footer-site-menu {
    display: flex;
    justify-content: space-between;    
    width: 440px;
    margin: 0;
    padding: 0;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    list-style: none;

outline: 2px solid rgb(160, 14, 128);
}

.footer-site-menu a {
    color: #ffffff;
}

.phone {
    margin: 0;
    margin-left: auto;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: none;
    color: #ffffff;

outline: 2px solid yellow;
}

.footer-bottom {
    display: flex;
    align-items: center;
outline: 2px solid green;
}


.social-buttons {
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;

    list-style: none;
}

.social-buttons a {
    color: #ffffff;
}

.copyright {
    margin: 0;
    margin-left: 470px;
    padding: 0;

outline: 2px solid rgb(70, 90, 102);
}

.social-buttons {
outline: 2px solid brown;

}

.modal {
    background-color: #ffffff;
}

.login-user,
.login-password,
.name,
.email,
.text {
    border: none;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: none;
    color: #000000;

    background-color: #f2f2f2;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: rgba(0, 0, 0, 0.6)
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 20px;
}

.page-title {
    margin: 0;
    margin-bottom: 33px;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);

    list-style: none;
}

.breadcrumbs li:first-child {
    width: 72px;
    margin-right: 17px;
}

.breadcrumbs li:nth-child(2) {
    width: 134px;
    margin-right: 17px;
}

.breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.catalog-columns {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 20px;
    

background-color: rgba(179, 11, 230, 0.4);
}

.filters {
    flex-shrink: 0;
    width: 270px;

background-color: #efefef;
}

.sort-catalog-wrapper {
    padding-left: 70px;

    background-color: #ffffff;
}

.sort {
    display: flex;
    align-items: center;
    min-height: 70px;
    margin-bottom: 70px;

background-color: rgba(21, 181, 230, 0.8);
}

.sort-title {
    margin: 0;
    margin-right: 53px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


.sort-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
    
background-color: rgba(29, 202, 52, 0.493);
}

.monopods-catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.monopod-item {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    min-height: 460px;
    margin-right: 40px;
    margin-bottom: 40px;

outline: 2px solid greenyellow;
}

.monopod-item:nth-of-type(2n) {
    margin-right: 0;
}


.monopod-item-image {
    position: relative;
}

.hover-box {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

.image-box {
    width: 360px;
    height: 380px;
}


.monopod-item-box {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: baseline;
    margin: 0;
    margin-top: auto;
    padding: 0;

background-color: slateblue;
}

.monopod-item-title-link {
    width: 260px;
    
background-color: rgb(229, 233, 12);
}

.monopod-item-title {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;

background-color: rgb(233, 82, 12);
}

.monopod-item-price {
    margin-left: auto;

background-color: rgb(215, 12, 233);
}

.pagination-list {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    list-style: none;
    background-color: #ebebeb;


outline:2px solid #ffc600;
}

.pagination-item-prev a,
.pagination-item-next a {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;

    line-height: 70px;
    vertical-align: middle;
    color: #000000;
}

.pagination-item-prev a:hover,
.pagination-item-prev a:focus,
.pagination-item-next a:hover,
.pagination-item-next a:focus {
    background-color: #d9d9d9;
}

.pagination-item-prev a:active,
.pagination-item-next a:active {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a{
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover:not(.link-current),
.pagination-item a:focus:not(.link-current) {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active:not(.link-current) {
    color: #000000;
}

.pagination-item-current a{
    color: #000000;
}

.pagination-item:nth-of-type(2) {
    margin-left:auto;
}

.pagination-item:nth-of-type(3) {
    margin-left:32px;
    margin-right:32px;
}

.pagination-item:nth-of-type(4) {
    margin-right:auto;
}